/* Reset CSS*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Helvetica, Arial, sans-serif;
}

/*
1. Tu ngoai vao trong
2. Tu tren xuong duoi
3. Tong quan den chi tiet
*/

/*
1. Vi tri
2. Kich thuoc
3. Mau sac
4. Kieu dang (kieu chu, hinh dang,...)
*/

#main {

}
#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    background-color: #000;
    z-index: 1;
}

#nav {
    display: inline-block;
}

#nav, .subnav {
    list-style-type: none;
}

#nav > li {
    display: inline-block;
}

#nav li{
    position: relative;
}

#nav > li > a{
    text-transform: uppercase;
    color: #fff;
}

#nav li a{
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

#nav li:hover .subnav {
    display: block;
}

#nav .subnav li:hover a,
#nav > li:hover > a{
    background-color: #ccc;
    color: #000;
}

#nav .nav-arrow-down {
    font-size: 14px;
}

#header .search-btn {
    float: right;
    
}

#header .search-btn:hover {
    background-color: #f44336;
}

#header .search-btn .search-icon {
    color: #fff;
    line-height: 46px;
    padding: 0 21px;
}

#nav .subnav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 160px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a{
    padding: 0 12px;
    color: #000;
    line-height: 38px;
}

#slider {
    position: relative;
    margin-top: 46px;
    background: url('https://www.w3schools.com/w3images/chicago.jpg') top center / cover no-repeat;
    padding-top: 50%; /*50% cua chieu ngang weight */   
}

#slider .text-content {
    position: absolute;
    bottom: 48px;
    width: 100%;
    text-align: center;
    color: #fff;
}

#slider .text-heading {
    font-weight: 500;
    font-size: 24px; 
}

#slider .text-decoration {
    font-size: 15px;
    margin-top: 25px;
}

#footer {

}